

.container {
  background: white;
  border-radius: 7px;
  padding: 20px 13px;
  /*width: 75%;*/
  margin: 0 auto;
}

.col-md-4 {
  width: 40%;
  float: right;
}

.col-md-4 img {
  vertical-align: middle;
  margin: 0 0 5px 20px;
  width: 90%;
  height: auto;
}

#about h2 {
  font-size: 1.9em;
  margin: 60px 0 30px;
  letter-spacing: 2px;
  text-align: center;
  color: rgb(211, 143, 102);
  text-transform: uppercase;
}

.col-md-8 {
  color: rgb(86, 84, 84);
}

.col-md-8 p {
  text-align: justify;
  margin: 0 auto;
  padding: 0 15px 20px;
  line-height: 1.4;
  font-size: 1.1em;
}




